/* */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);

body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

.page-content {
    background-color: #ffffff;
    min-height: 400px;
    border: solid 1px #FFFFFF;
    padding: 20px;
}

.main-content {
    padding: 20px 10px;
}

.sponsors {
    text-align: center;
    height: 160px;
    background: #ffffff;
}

.footer-links {
    height: 70px;
    line-height: 62px;
    text-align: center;
    margin: 0 auto;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    display: inline-block;
    float: left;
    padding: 0px 20px;
}

.footer-links ul li a {
    color: #003865;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    height: 90px;
    background: #d8d8d8;
}

.copyright .info {
    text-align: center;
    color: #59595b;
    font-size: 14px;
    padding-top: 30px;
}

/*--------------
-   PLAYERS
--------------*/


/*--------------
-   PLAYER
--------------*/
