/* */

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,500,700);

body {
    background: url('http://agatour.us/img/bg.png') no-repeat;
    background-size: cover;
    font-family: "AlegreyaSans", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: #005391;
    font-family:'Roboto Condensed',sans-serif;
}

p,a {
    font-family:'Roboto Condensed',sans-serif;
}

.page-content {
    padding: 20px 20px;
    background: #ffffff;
}

nav.uk-navbar {
    background: #003865;
}

nav.uk-navbar ul li a {
    text-shadow: none;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Alegreya Sans', sans-serif;
}

/*--------------
-   PLAYERS
--------------*/

li.player img { width: 20px; margin: 10px 10px; }
li.player a { color: #005391; text-decoration: none; font-weight: 400; }

/*--------------
-   PLAYER
--------------*/