/* */

@font-face { font-family: 'MemoPro Regular'; src: url("fonts/memopro-regular-webfont.eot"); src: url("fonts/memopro-regular-webfont.eot?iefix") format("eot"), url("fonts/memopro-regular-webfont.woff") format("woff"), url("fonts/memopro-regular-webfont.ttf") format("truetype"), url("fonts/memopro-regular-webfont.svg#webfontRj3TQkaX") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MemoPro Light'; src: url("fonts/memopro-light-webfont.eot"); src: url("fonts/memopro-light-webfont.eot?iefix") format("eot"), url("fonts/memopro-light-webfont.woff") format("woff"), url("fonts/memopro-light-webfont.ttf") format("truetype"), url("fonts/memopro-light-webfont.svg#webfontLlhjLDki") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'AlegreyaSans'; src: url("/usg/css/fonts/AlegreyaSans-Regular-webfont.eot"); src: url("/usg/css/fonts/AlegreyaSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/usg/css/fonts/AlegreyaSans-Regular-webfont.woff") format("woff"), url("/usg/css/fonts/AlegreyaSans-Regular-webfont.ttf") format("truetype"), url("/usg/css/fonts/AlegreyaSans-Regular-webfont.svg#AlegreyaSans-Regular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'AlegreyaSans Light'; src: url("/usg/css/fonts/AlegreyaSans-Light-webfont.eot"); src: url("/usg/css/fonts/AlegreyaSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/usg/css/fonts/AlegreyaSans-Light-webfont.woff") format("woff"), url("/usg/css/fonts/AlegreyaSans-Light-webfont.ttf") format("truetype"), url("/usg/css/fonts/AlegreyaSans-Light-webfont.svg#alegreya_sanslight") format("svg"); font-weight: 300; font-style: normal; }
@font-face { font-family: 'AlegreyaSans Medium'; src: url("/usg/css/fonts/AlegreyaSans-Medium-webfont.eot"); src: url("/usg/css/fonts/AlegreyaSans-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("/usg/css/fonts/AlegreyaSans-Medium-webfont.woff") format("woff"), url("/usg/css/fonts/AlegreyaSans-Medium-webfont.ttf") format("truetype"), url("/usg/css/fonts/AlegreyaSans-Medium-webfont.svg#AlegreyaSans-Medium") format("svg"); font-weight: 500; font-style: normal; }
@font-face { font-family: 'AlegreyaSans Bold'; src: url("/usg/css/fonts/AlegreyaSans-Bold-webfont.eot"); src: url("/usg/css/fonts/AlegreyaSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("/usg/css/fonts/AlegreyaSans-Bold-webfont.woff") format("woff"), url("/usg/css/fonts/AlegreyaSans-Bold-webfont.ttf") format("truetype"), url("/usg/css/fonts/AlegreyaSans-Bold-webfont.svg#AlegreyaSans-Bold") format("svg"); font-weight: 700; font-style: normal; }
@font-face { font-family: 'AlegreyaSans ExtraBold'; src: url("/usg/css/fonts/AlegreyaSans-ExtraBold-webfont.eot"); src: url("/usg/css/fonts/AlegreyaSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("/usg/css/fonts/AlegreyaSans-ExtraBold-webfont.woff") format("woff"), url("/usg/css/fonts/AlegreyaSans-ExtraBold-webfont.ttf") format("truetype"), url("/usg/css/fonts/AlegreyaSans-ExtraBold-webfont.svg#AlegreyaSans-ExtraBold") format("svg"); font-weight: 800; font-style: normal; }
html { width: 100%; height: 100%; -webkit-text-size-adjust: none; /* Prevent font scaling in landscape while allowing user zoom */ -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
html, body { height: 100%; }
#wrap { clear: both; min-height: 100%; height: auto !important; height: 100%; margin-bottom: -160px; }
#wrap .body-footer { height: 160px; }
footer { clear: both; position: relative; height: 160px; }
body { width: 100%; min-width: 1000px; background: #f1f1f1; font-family: "AlegreyaSans", Arial, Helvetica, sans-serif; font-weight: normal; /*background: url(/images/misc/bg_gradient.png) repeat-x 0 $header_height+$menu_height+1 $background;*/ }
noscript div { background: #cccccc; border: 1px solid #990000; margin: 20px 0; padding: 15px; }
.clear { clear: both; }
a { color: #003865; text-decoration: none; }
.playBtn { position: absolute; z-index: 101; background: url("/images/misc/misc_sprites_2014.png") -73px -19px no-repeat; cursor: pointer; width: 78px; height: 78px; }
/*Opera Fix, leave alone*/
body:before { content: ""; height: 100%; float: left; width: 0; margin-top: -32767px; }
.masthead { position: fixed; top: 0; width: 100%; min-width: 1000px; height: 111px; z-index: 150; }
.masthead + .body-wrapper { margin-top: 111px; }
.masthead.alert { height: 156px; }
.masthead.alert + .body-wrapper { margin-top: 156px; }
.masthead.hasTicker { height: 151px; }
.masthead.hasTicker + .body-wrapper { margin-top: 151px; }
.header-wrapper { position: relative; background: url("/images/misc/masthead_bkg_2560x102.jpg") repeat center top transparent; height: 68px; }
#header { width: 1000px; height: 68px; color: #FFFFFF; margin: 0 auto; position: relative; }
#propertyLogo { width: 303px; float: left; margin-top: 10px; margin-left: 20px; }
#propertyLogo a { float: left; }
#propertyLogo a img { padding-top: 12px; padding-right: 10px; }
#title { float: left; font-size: 27px; margin: 17px 0 0 0; text-transform: uppercase; border-left: solid 1px #00365f; }
#title a { padding-left: 11px; }
#tagline { float: left; font-size: 12px; margin: 30px 0 0 20px; }
#tagline span { font-family: Arial; }
.details { float: left; margin-top: 26px; width: 268px; font-family: "AlegreyaSans Bold", Arial, Helvetica, sans-serif; font-weight: 700; font-size: 12px; line-height: 1.4em; text-align: center; color: #00365f; text-transform: uppercase; }
.details img { margin: 15% 0 0 -32%; }
.details.detail_subtxt { text-align: center; font-size: 12px; margin: 0 auto; }
.details span:before { content: '\00B7'; padding-right: 5px; font-family: "AlegreyaSans ExtraBold", Arial, Helvetica, sans-serif; font-weight: 800; }
#socialSearchContainer { float: left; margin: 25px 0 0 35px; width: 190px; }
#socialContainer { float: left; height: 20px; }
#searchContainer { float: left; position: relative; width: 181px; height: 22px; margin-top: 5px; }
#ibmLogo { float: right; margin: 15px 5px 3px 30px; }
a.ibm { display: block; width: 67px; height: 38px; }
.search input, .search button { color: #00365f; position: relative; vertical-align: middle; }
.search input[type="text"] { width: 183px; height: 21px; border: 1px solid #9a9a9a; /*font-size: 11px;*/ padding: 0px 5px; font-family: Arial; }
.search button, .search input[type="submit"] { margin-right: 3px; text-transform: uppercase; font-family: Arial; font-size: 10px; width: 27px; height: 16px; margin-left: 0; /*@include background-sprite(left,bottom,'/images/misc/go_sprite.png',no-repeat,$searchbox_color);*/ border: 1px solid #6688A3; }
.search.active { background: #006199; border: solid 1px #000000; border-bottom: none; z-index: 201; }
.search.active button, .search.active input[type="submit"] { background-position: left top; }
#searchContainer .search { padding: 3px 0px 0; width: 190px; z-index: 11; position: absolute; }
#searchContainer .search input[type="text"], #searchContainer .search button { background: #d3d3d3; margin: 0 0 0 54px; }
#searchContainer .search img { margin: -20px 0 0 220px; position: absolute; }
.ad-wrapper { margin: 0 auto; width: 728px; height: 90px; min-height: 90px; }
.ad-wrapper .ad { width: 728px; height: 90px; text-align: center; }
/* Menu section */
.nav-wrapper { height: 42px; background: #00365F; position: relative; z-index: 120; border-bottom: 1px solid #FFFFFF; }
#nav { width: 1000px; margin: 0 auto; height: 42px; position: relative; }
#nav > ul { margin: 0; padding: 0; }
#nav > ul > li { float: left; height: 42px; line-height: 42px; font-weight: bold; margin: 0; position: relative; list-style: none; font-family: "AlegreyaSans Medium", Arial, Helvetica, sans-serif; font-weight: 500; font-size: 14px; }
#nav > ul > li.small { font-size: 12px; }
#nav > ul > li.small.divider { border-left: solid 1px #bababa; }
#nav > ul > li.small a { color: #FFFFFF; padding: 13px 12px 14px 12px; }
#nav > ul > li.small .menu a { color: #003865; padding-bottom: 15px; }
#nav > ul > li.active { background-position: 0 -30px; background-color: #666666; }
#nav > ul > li > a { display: inline; padding: 14px 16px; text-decoration: none; color: #FFFFFF; text-transform: uppercase; }
#nav > ul > li > a.active { background-position: 0 -30px; }
#nav > ul > li > a.active .menu_icon.shop { background-position: -22px -55px; }
#nav > ul > li > a.active .menu_icon.virtual { background-position: -22px -80px; }
#nav > ul > li > a:hover { background-position: 0 -60px; color: #000000; background-color: #FFFFFF; }
#nav > ul > li > a span { display: none; background: #ed2224; color: #FFFFFF; padding: 1px 3px; margin-right: 3px; font-family: Arial, Sans-serif; font-weight: bold; font-size: 9px; letter-spacing: 1px; }
#nav > ul > li > a img { margin-right: 15px; }
#nav > ul > li > a .menu_icon { padding-left: 17px; padding-top: 6px; padding-bottom: 8px; padding-right: 0; margin: 3px; display: inline; background: url(/images/nav/nav_icons_sprite.png) no-repeat 0 0; }
#nav > ul > li > a .menu_icon:hover { background-color: #FFFFFF; }
#nav > ul > li > a .menu_icon.ticket { background-position: 0px -29px; }
#nav > ul > li > a .menu_icon.shop { background-position: 0px -55px; }
#nav > ul > li > a .menu_icon.virtual { background-position: 0px -80px; }
#nav > ul > li:first-child { margin-right: 0px; }
#nav > ul > li:first-child a { width: 36px; padding: 12px 12px 12px 15px; background: url("/images/nav/nav_icons_sprite.png") 4px 14px no-repeat transparent; }
#nav > ul > li:first-child a.active { background-color: #666666; }
#nav > ul > li:first-child a:hover { background-position: -19px 14px; }
#nav > ul > li.home { margin-right: 0px; }
#nav > ul > li.home a { margin-top: 3px; padding: 0 !important; width: 22px; height: 25px; display: inline-block; background: url("/images/misc/nav/home_icon.png") no-repeat center; background-color: #666666; }
#nav > ul > li.home a.active { /*@include background-sprite(0,30px); */ margin-top: 3px; }
#nav > ul > li.home a:hover { margin: 0px; height: 31px; background: url("/images/misc/nav/home_icon_blue.png") no-repeat center #FFFFFF; /*@include background-sprite(0,60px);*/ }
#nav > ul > li li a { display: block; }
#nav > ul > li li a:hover { background: #CCCCCC; }
#nav > ul > li:hover > div.menu { visibility: visible; }
#nav > ul > li:hover > a { color: #000000; background-color: #FFFFFF; }
#nav.live > ul > li:first-child a { padding: 11px 14px; }
#nav.live > ul > li.small a { padding: 13px 12px 14px 12px; }
#nav.live > ul > li > a { padding: 13px 12px; }
#nav.live > ul > li > a span { display: inline; }
#nav.live > ul > li > a .menu_icon.ticket, #nav.live > ul > li > a .menu_icon.shop, #nav.live > ul > li > a .menu_icon.virtual { padding-right: 0; }
#nav.qual > ul > li > a { padding: 14px 11px; }
#nav.qual > ul > li:first-child a { padding: 12px 12px 12px 15px; }
#nav .menu { /*display:none;*/ visibility: hidden; position: absolute; left: 0; top: 41px; width: 273px; z-index: 1000; border-collapse: separate; border-spacing: 0px; -moz-box-shadow: 3px 7px 7px -2px #1b1618; -webkit-box-shadow: 3px 7px 7px -2px #1b1618; box-shadow: 3px 7px 7px -2px #1b1618; border-radius: 1px; background-color: #FFFFFF; }
#nav .menu .ie_menu { background-color: #FFFFFF; zoom: 1; z-index: 1000; position: relative; }
#nav .menu ul { margin: 0px 5px; }
#nav .menu ul.left { width: 273px; display: table-cell; vertical-align: top; }
#nav .menu ul.right { width: 233px; padding: 10px 10px 10px 15px; display: table-cell; vertical-align: top; font-family: Arial; background-color: #f1f1f1; }
#nav .menu ul.right p { text-align: center; }
#nav .menu li { padding: 3px 0; border-top: 1px solid #D8D8D8; border-top: 1px solid rgba(180, 180, 180, 0.3); list-style: none; font-size: 14px; line-height: 15px; }
#nav .menu li:first-child { border-top: none; }
#nav .menu li a { color: #003865; display: block; padding: 8px 10px; text-transform: uppercase; margin: 5px; }
#nav .menu li a:hover { color: #000000; background-color: rgba(167, 167, 167, 0.4); *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#66A7A7A7', endColorstr='#66A7A7A7'); }
#nav .menu.thumb { width: 506px; }
.body-wrapper { position: relative; *zoom: 1; }
.body-wrapper:before, .body-wrapper:after { content: ""; display: table; }
.body-wrapper:after { clear: both; }
.main-wrapper { position: relative; *zoom: 1; }
.main-wrapper:before, .main-wrapper:after { content: ""; display: table; }
.main-wrapper:after { clear: both; }
.content-wrapper { background-color: #f6f6f6; position: relative; min-height: 400px; width: 998px; margin: 30px auto 30px; border: solid 1px #FFFFFF; }
.content-wrapper .content-bottom { text-align: center; padding-bottom: 30px; }
.content-wrapper .content-bottom .read_more { background-color: #D3D3D3; text-transform: uppercase; color: #474c56; padding: 10px; }
.content-wrapper .content-bottom .read_more a { color: #474c56; }
.content-wrapper .content-header { padding: 13px 10px; font-family: "AlegreyaSans", Arial, Helvetica, sans-serif; font-weight: normal; }
.content-wrapper .content-header .right { float: right; }
.content-wrapper .content-header p { padding-top: 10px; }
.content-wrapper .content-header p.desc { padding-top: 0; line-height: 20px; }
.content-wrapper .content-center { font-family: Arial, sans-serif; font-size: 18px; line-height: 28px; color: #474c56; }
.content-wrapper .content-center.whitebg { background-color: #FFFFFF; }
.content-wrapper .content-center .landing { font-family: "AlegreyaSans", Arial, Helvetica, sans-serif; font-weight: normal; }
.content-wrapper .content-body { width: 960px; margin: 0 auto; }
.content-wrapper.full .content-body { background-color: #FFFFFF; }
.content-wrapper .content-rail { float: right; width: 294px; margin-left: 24px; }
.content-wrapper#scoring { margin-top: 153px; }
.section-header { background-color: #CCCCCC; height: 191px; position: absolute; width: 100%; top: 0; left: 0; }
.section-header.more_spacing { height: 205px; }
.section-header.short { height: 100px; }
.section-header.tall { height: 311px; }
.section-header.tall #adContainer { margin: 30px auto; width: 728px; }
.section-header .return_to { color: #666666; padding: 15px 0px; text-transform: uppercase; width: 1000px; margin: 0 auto; }
.section-header .return_to a { color: #666666; }
#ticker { *zoom: 1; display: none; width: 100%; overflow: hidden; height: 38px; border-top: 1px solid #76797e; border-bottom: 1px solid #76797e; background: #f1f0f0; }
#ticker:before, #ticker:after { content: ""; display: table; }
#ticker:after { clear: both; }
#ticker .tickcontainer { width: 1000px; margin-left: auto; margin-right: auto; }
#ticker div.rel { position: relative; }
#ticker div.rel div.first { line-height: 38px; position: absolute; left: 0; box-shadow: 3px 0px 5px 0px #c0bfbf; background: #FFFFFF; text-align: center; cursor: default; width: 100px; }
#ticker div.rel div.first img { height: 36px; vertical-align: top; padding-top: 1px; }
#ticker div.lb { position: absolute; right: 0; z-index: 110; background: #FFFFFF; width: 162px; cursor: pointer; vertical-align: top; height: 38px; line-height: 34px; box-shadow: -3px 0px 5px 0px #bfbfbf; }
#ticker div.lb a { padding-left: 11px; }
#ticker div.lb span { font-weight: bold; float: none; font-size: 12px; font-family: Arial, sans-serif; padding: 3px 7px; color: #FFFFFF; text-transform: uppercase; background: #da1e33; }
#ticker div.dragscroll { overflow: auto; overflow-x: scroll; width: 838px; height: 70px; }
#ticker table { float: left; height: 38px; margin: 0; padding: 0; border-collapse: collapse; white-space: nowrap; list-style-type: none; }
#ticker table tr { float: left; height: 38px; min-width: 100px; padding: 0; line-height: 38px; border-right: 1px solid #76797e; background: #f1f0f0; cursor: move; }
#ticker table tr:first-child { margin-left: 100px; }
#ticker table tr.last { border-right: 0; }
#ticker table tr td { float: left; line-height: 38px; }
#ticker table tr td.pos { padding-left: 10px; line-height: 44px; padding-right: 5px; font-family: arial, sans-serif; font-size: 12px; font-weight: bold; }
#ticker table tr td.player { padding-right: 10px; }
#ticker table tr td.topar { float: right; font-weight: bold; font-size: 18px; line-height: 35px; }
#ticker table tr td.thru { float: right; padding-left: 10px; padding-right: 10px; font-weight: bold; }
#ticker table tr td.under { color: #d91f32; }
/* Footer */
footer { width: 100%; height: 160px; }
.pre_footer { height: 70px; }
.pre_footer .wrapper { text-align: center; line-height: 62px; }
.pre_footer .wrapper ul li { list-style: none; display: inline-block; margin-left: 20px; }
.pre_footer .wrapper ul li:first-child { margin-left: 0; }
.footer-wrapper { height: 90px; background: #d8d8d8; }
.footer-wrapper a { color: #000000; text-decoration: none; margin: 0 15px 0 0; font-size: 16px; }
.footer-wrapper .footer { text-align: center; color: #59595b; font-size: 14px; padding-top: 30px; }
/* Sponsor section */
.sponsor-wrapper { text-align: center; background-color: #FFFFFF; height: 439px; display: inline-block; width: 100%; }
.sponsor-wrapper .sponsor_content { *zoom: 1; }
.sponsor-wrapper .sponsor_content:before, .sponsor-wrapper .sponsor_content:after { content: ""; display: table; }
.sponsor-wrapper .sponsor_content:after { clear: both; }
.sponsor-wrapper .sponsor_content .sponsors_col { float: left; width: 300px; display: inline-block; height: 439px; padding: 0 15px; }
.sponsor-wrapper .sponsor_content .sponsors_col .title { padding: 35px 0px 0px 0px; text-align: center; font-size: 24px; font-family: "AlegreyaSans Light", Arial, Helvetica, sans-serif; font-weight: 300; display: inline-block; }
.sponsor-wrapper .sponsor_content .sponsors_col ul { margin-left: 0px; }
.sponsor-wrapper .sponsor_content .sponsors_col ul li { list-style: none; padding: 22px 0px; }
.sponsor-wrapper .sponsor_content .sponsors_col.spacing_line { border-right: solid 1px #D3D3D3; }
.sponsor-wrapper .sponsor_content .sponsors_col.spacing_line li { border-top: 1px solid #c7c7c7; }
.sponsor-wrapper .sponsor_content .sponsors_col.spacing_line li:first-child { border-top: 0; }
.sponsor-wrapper .sponsor_content .sponsors_col:first-child { padding-left: 20px; }
.sponsor-wrapper .sponsor_content .sponsors_col a { color: #000000; }
.sponsor-wrapper .sponsor_content .socialmedia_col ul li { padding: 18px 0px 10px 0; display: table; width: 100%; }
.sponsor-wrapper .sponsor_content .socialmedia_col .logo { display: table-cell; width: 40%; text-align: right; vertical-align: middle; }
.sponsor-wrapper .sponsor_content .socialmedia_col .follow { display: table-cell; width: 60%; text-align: left; padding-left: 14px; vertical-align: middle; }
.sponsor-wrapper .sponsor_content .apps_col ul li { padding: 0; margin-bottom: 50px; font-size: 18px; *zoom: 1; }
.sponsor-wrapper .sponsor_content .apps_col ul li:before, .sponsor-wrapper .sponsor_content .apps_col ul li:after { content: ""; display: table; }
.sponsor-wrapper .sponsor_content .apps_col ul li:after { clear: both; }
.sponsor-wrapper .sponsor_content .apps_col ul li:first-child { margin-top: 20px; }
.sponsor-wrapper .sponsor_content .apps_col .logo { display: inline-block; width: 20%; text-align: right; vertical-align: top; }
.sponsor-wrapper .sponsor_content .apps_col .text { font-family: "AlegreyaSans", Arial, Helvetica, sans-serif; font-weight: normal; display: inline-block; width: 74%; text-align: left; padding-left: 15px; vertical-align: top; }
.sponsor-wrapper .sponsor_content .apps_col .app_title { font-family: "AlegreyaSans Bold", Arial, Helvetica, sans-serif; font-weight: 700; }
.sponsor-wrapper #sponsor_list { margin: 0 auto; width: 100%; padding: 0; height: auto; /*background: url(/images/misc/usga_sponsor_logos.png) no-repeat top left transparent;*/ }
.sponsor-wrapper #sponsor_list div { display: block; }
.sponsor-wrapper #sponsor_list li { float: left; margin: 0; height: 49px; line-height: 49px; display: inline-block; }
.sponsor-wrapper #sponsor_list li a { text-decoration: none; display: block; cursor: pointer; }
.sponsor-wrapper #sponsor_list li #s_chevron { width: 44px; height: 49px; }
.sponsor-wrapper #sponsor_list li #s_rolex { width: 69px; height: 49px; margin-left: 72px; }
.sponsor-wrapper #sponsor_list li #s_ibm { width: 65px; height: 49px; margin-left: 85px; }
.sponsor-wrapper #sponsor_list li #s_lexus { width: 100px; height: 49px; margin-left: 63px; }
.sponsor-wrapper #sponsor_list li #s_amex { width: 53px; height: 49px; margin-left: 62px; }
.sponsor-container { display: none; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0px 5px #333333; -webkit-box-shadow: 0px 5px #333333; box-shadow: 0px 5px #333333; width: 672px; overflow: hidden; background: #FFFFFF url(/images/sponsorspop/Partnersbkgnd_666x800.jpg) no-repeat 0 0; position: fixed; top: 15%; left: 50%; margin-left: -336px; z-index: 1001; padding-bottom: 0px; }
.sponsor-container .header { background: url(/images/sponsorspop/Rog_popup_Header.png) no-repeat 0 0; width: 666px; height: 56px; margin: 3px; }
.sponsor-container .header h3 { font-family: "AlegreyaSans", Arial, Helvetica, sans-serif; font-weight: normal; color: #115293; line-height: 56px; font-size: 1.6em; padding: 0 20px; }
.sponsor-container .sponsor-content { padding: 50px 20px 0px 20px; color: #000000; font-size: 14px; }
.sponsor-container .sponsor-content p { padding: 0 0 15px 0; }
.sponsor-container .sponsor-content a { color: #115293; font-weight: bold; text-decoration: underline; }
.sponsor-container .sponsor-logo { text-align: right; background: url(/images/misc/usga_sponsor_logos.png) no-repeat top left transparent; float: right; padding-bottom: 10px; }
.sponsor-container .sponsor-logo.chevron { width: 44px; height: 49px; }
.sponsor-container .sponsor-logo.rolex { width: 69px; height: 49px; background-position: -118px 0; }
.sponsor-container .sponsor-logo.ibm { width: 65px; height: 49px; background-position: -269px 0; }
.sponsor-container .sponsor-logo.lexus { width: 100px; height: 49px; background-position: -397px 0; }
.sponsor-container .sponsor-logo.amex { width: 53px; height: 49px; background-position: -564px 0; }
.sponsor-container .sponsor-logo a { text-decoration: none; display: block; width: 100px; height: 49px; }
.sponsor-container .close { position: absolute; top: 20px; right: 15px; background: url(/images/sponsorspop/Rog_popupCloseX.png) no-repeat 0 0; width: 58px; height: 40px; text-indent: -99999px; cursor: pointer; }
.news_feed { width: 100%; margin-bottom: 30px; position: relative; font-family: "AlegreyaSans", Arial, Helvetica, sans-serif; font-weight: normal; }
.row { margin-top: 30px; width: 960px; text-align: center; *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }
.info_square { background-color: #FFFFFF; width: 300px; height: 285px; text-align: left; float: left; font-family: "AlegreyaSans", Arial, Helvetica, sans-serif; font-weight: normal; }
.info_square .caption { color: #000000; padding: 15px 10px 0; display: block; font-size: 18px; }
.info_square .link { color: #000000; padding: 0 10px 10px 10px; display: block; font-size: 18px; line-height: normal; }
.info_square .playBtn { top: 0; bottom: 0; left: 0; right: 0; margin: auto; }
.info_square .title { color: #999999; padding-left: 10px; text-transform: uppercase; line-height: 35px; height: 35px; display: block; }
.info_square a { display: block; position: relative; }
.info_square img { width: 300px; height: 169px; display: block; }
.info_square.center_space { margin-right: 30px; }
.info_square .promo img { height: 250px; }
.info_square .photo_container { width: 300px; height: 210px; background-size: cover; background-position: center center; background-repeat: none; }
.centered { width: 998px; margin: 0 auto; *zoom: 1; }
.centered:before, .centered:after { content: ""; display: table; }
.centered:after { clear: both; }
.left20 { margin-left: 20px; }
.padded_text { padding: 20px; }
.side_padded_text { padding-left: 20px; padding-right: 20px; clear: both; }
.fullwidth { width: 1000px; }
.centered_text { text-align: center; }
.color_share { text-align: center; width: 30%; }
.social .mail, .social .facebook, .social .twitter, .social .gplus { display: inline; padding-right: 20px; }
.social .mail img, .social .facebook img, .social .twitter img, .social .gplus img { width: 33px; height: 33px; }
.social .mail img { content: url("/images/misc/footer/email_icon.png") no-repeat; }
.social .facebook img { content: url("/images/misc/footer/Social_Channels_04.png") no-repeat; }
.social .twitter img { content: url("/images/misc/footer/Social_Channels_09.png") no-repeat; }
.social .gplus img { content: url("/images/misc/footer/Social_Channels_18.png") no-repeat; }
.social .header, .social .link { display: none; }
.social.color_share { float: right; }
.social_left .social.color_share { float: none; }
#playerDetail .social div { display: block; padding-right: 0; }
#playerDetail .social .facebook { margin-bottom: 14px; }
.video-container .color_share { width: auto; }
.video-container .color_share .mail img, .video-container .color_share .facebook img, .video-container .color_share .twitter img, .video-container .color_share .gplus img { width: 28px; height: 28px; }
.video-container .color_share .gplus { padding-right: 10px; }


nav.uk-navbar {
    background: #003865;
}

nav.uk-navbar ul li a {
    text-shadow: none;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
}

/*--------------
-   PLAYERS
--------------*/

li.player img { width: 20px; margin: 10px 10px; }
li.player a { color: #005391; text-decoration: none; font-weight: 400; }

/*--------------
-   PLAYER
--------------*/
